<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bukitasam">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BukitAsam"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Admin.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminScanActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.HistoryDataActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.EditRole"
            android:exported="false" />
        <activity
            android:name=".Admin.updaterole"
            android:exported="false" />
        <activity
            android:name=".user.edituser"
            android:exported="false" />
        <activity
            android:name=".Admin.UserActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.MainAdminActivity"
            android:exported="false" />
        <activity
            android:name=".DetailProfile"
            android:exported="false" />
        <activity
            android:name=".Profile.EditProfile"
            android:exported="false" />
        <activity
            android:name=".user.QRScanActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.MainActivity"
            android:exported="false" />
    </application>

</manifest>